<div class="container">

  <h1 class="title">{{title}}</h1>

  <div class="card">

    <app-profile-photo></app-profile-photo>
    <app-profile-description></app-profile-description>
    
    <div class="card_links">
      
      @for (link of linkTab; track $index) {
        <app-social-link (selectLink)="displayLink($event)" [socialLink] = "link"></app-social-link>
      } @empty {
        Links Unavailable
      }
    </div>

  </div>

  @if (selectedLink!='Empty selection') {

    <p class="screen">
      @if (selectedLink){
        {{selectedLink}}
      } @else {
        {{'Empty selection'}}
      }
      
    </p>
  
  }
  
</div>