<div class="container">
  <h1 class="title">User Profile</h1>
  
  <div class="card">

    <img class="card__image" src="Photo.jpeg" alt="ma Photo">

    <span class="card__title">Cheick Alioune TRIANDE</span>
    <span class="card__subtitle">Ouagadougou, Burkina Faso</span>

    <div class="card_links">
      <div class="card__links__item">Github</div>
      <div class="card__links__item">LinkedIn</div>
      <div class="card__links__item">Twitter</div>
      <div class="card__links__item">Instagram</div>
    </div>

  </div>
</div>